body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.carousel-container {
  position: relative;
  /* max-width: 80%; */
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: white;
  border: 2px solid #dee2e6;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-slide img {
  width: 100%;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to bottom, #343a40, #495057);
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.prev:hover, .next:hover {
  background: linear-gradient(to bottom, #495057, #6c757d);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-indicators {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #adb5bd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #343a40;
}

.dot:hover {
  background-color: #495057;
}

@media (max-width: 768px) {
  .prev, .next {
      padding: 8px;
  }

  .carousel-container {
      max-width: 95%;
  }
}
